<h1>ingrese datos</h1>
<form class="prod-form" id="add" action="/productos" method="POST">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        
        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion producto">
        <input type="text" class="form-control" id="precio" name="precio" placeholder="precio">
        <input type="text" class="form-control" id="foto" name="foto" placeholder="foto">
        <input type="text" name="id" id="id">
        <button type="submit" class="btn btn-primary">Guardar</button>

    </div>
</form>